.ranking-card .item {
 --background: rgb(255, 252, 212); 
 /* --background: rgb(172, 205, 255); */
}

.badge-img {
  width: 50px;
}

.label-name, .label-points{
  --ion-font-family: Rancho;
}
/*
Gugi
Iceland
Mina
Sriracha
Patrick Hand
Rancho
Catamaran
Architects Daughter
Kalam
*/

.label-name {
  font-size: 2em !important;
}

.label-points {
  font-size: 1.4em !important;
}

/*
Con scss juntar los dos estilos anteriores con el de font family para no repetir la clase
*/


.label-ranking {
  position: absolute;
  top: 20px;
  right: 35px;
  --color: red;
  /*Hay que centrarlo bien porque si es el puestoo por ej 14 que tiene 2 digitos 
  no queda centrado, sino que como lo puse posicion absoluta para que el numero
   quedara encima de la imagen no se como centrarlo bien*/
}

.item.input-wrapper {
  display: flex;
  justify-content: space-between;
}