.ranking-card .item {
 --background: rgb(255, 252, 212); 
 /* --background: rgb(172, 205, 255); */
}

.ranking {
  margin: 0;
}

ion-thumbnail {
  margin: 0 0.5em;
}

/*.badge-img {
  width: 50px;
}*/

.label-name, .label-points{
  --ion-font-family: Rancho;
}
/*
Gugi
Iceland
Mina
Sriracha
Patrick Hand
Rancho
Catamaran
Architects Daughter
Kalam
*/

.label-name {
  font-size: 1.8em !important;
}

.label-points {
  font-size: 1em !important;
}

/*
Con scss juntar los dos estilos anteriores con el de font family para no repetir la clase
*/


.label-ranking {
  --ion-font-family: Rancho;
  font-size: 30px !important;
}


ion-chip {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-warning);
}

.coin {
  width: 30px;
}

