.ranking-card .item {
  --background: rgb(255,231,76);
  --background: linear-gradient(90deg, rgba(255,231,76,1) 0%, rgba(255,248,195,1) 47%, rgba(255,231,76,1) 100%);
}

.ranking {
  margin: 0;
}

ion-thumbnail {
  margin: 0 0.5em;
}

.label-name, .label-points{
  --ion-font-family: Rancho;
}
/*
Gugi
Iceland
Mina
Sriracha
Patrick Hand
Rancho
Catamaran
Architects Daughter
Kalam
*/

.label-name {
  font-size: 1.8em !important;
}

.label-points {
  font-size: 1em !important;
}

.label-ranking {
  --ion-font-family: Rancho;
  font-size: 30px !important;
}


ion-chip {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-warning);
}

.coin {
  width: 30px;
}

